<h5 class="display-3">Basic Form via Handlebars</h5>
<p>Depoly the basic form using a handlebars partial. A hidden id can be injected into the form to group issues by a topic or ID.</p>


     <div class="card">
 <div class="card-body">
  <h5>Demo</h5><br>
     {{>wrasseform ids=(uniqueid)}}
</div>
</div>