  <h5 class="display-3">Delete.</h5>
  <h3>Select an issue and remove it if if belongs to you.</h3>
  <div class="col-12" style="text-align: center;">
    <h5>GiHub Sample Image</h5>
    <img src="/img/delete.jpg" class="img-fluid">
  </div>
  <p>This functionality is included in the click through options above.</p>