 <style type="text/css">
  @media screen and (max-width: 600px) {
    .mobilehide {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }
</style>

<hr>

<div class="container" style="padding-top: 45px;padding-bottom: 75px">
  <div class="row">
   <div class="col-md-3 mobilehide" style="">

    <h4>Introduction</h4>
    <ul>
      <li><a href="/introduction">Introduction</a></li>
    </ul>   

        <p>
      <h4>Built with</h4> 
      <ul>
        <li><a target="_blank" href="https://github.com/jondo89/Heavy-lifting">Heavy-lifting</a></li>
        <li><a target="_blank" href="https://github.com/jondo89/Fraternate">Fratenate</a></li>
        <li><a target="_blank" href="https://github.com/jondo89/Wrasse">Cleaner-wrasse</a></li>
      </ul>
       
    </p> 
  </div>
  <div class="col-md-3 mobilehide" style="">
   <h4>Collaborate <small>Would you like to contribute?</small></h4>
   <ul>
    <li> <a href="/contact">Contact us</a></li>
  </ul>
  <h4>Site Details</h4>
  <ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/organizations">Organizations</a></li>
  </ul>
</div>
<div class="col-md-3 mobilehide" style="">
  {{#unless user}}
  <h4>Sign up to get started!</h4>
  <span><small><p><a href="/signup" class="btn btn-success">Sign up</a>  Sign up its free.</p></small></span>
  {{/unless}}
  <h4>Issues <small>List your issues with the interface.</small></h4>
  <ul>
    <li><a href="/issues/view">Issues</a></li>
  </ul> 
</div>
<div class="col-md-3" style="">
  <a href="/" style="font-size: 25px;text-decoration: none;color: black">
    <h3><img src="/img/Logo square 300x300.png" style="height: 35px"> {{siteName}}</h3>
    
  </a>   
  <small>{{description}}</small>
  <p>
 

    <h4>More details</h4>
    <a href="/terms">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/contact">Contact</a>
  </div>
</div>
</div>

