    <h5 class="display-3">Basic Form deploy via Ajax</h5>
    <p>Depoly the basic form using a handlebars partial. A hidden id can be injected into the form to group issues by a topic or ID.</p>
         <div id="ajaxFormLocation">
          <button href="" class="btn btn-outline-primary" onclick="getForm('ajaxFormLocation')">Call with Ajax</button>
        </div>
 
   <script type="text/javascript">
 function getForm(location) {
   jQuery.ajax({
     'async': true,
     'global': false,
     'url': '/issues/getform',
     'success': function (dataSchemaObject) {
       jQuery('#'+location).html(dataSchemaObject)
     }
   });
 }
</script>