

REDUNDANT

  <h5 class="display-3">Read</h5>
  <p>View all issues , include a filter and search option. Allow for editing and addition of new issues here.</p>
 
  
  <div class="row">
    <div class="col-6">
      <h5>Handlbars Deploy All</h5>
      <p>Deploy the template from handlebars, this is static HTML.</p>
      {{>wrasseissuelist}}
    </div>
    <div class="col-6">
      <h5>Handlbars Deploy by Id</h5>
      <p>Deploy the template from handlebars, this is static HTML.</p>
      {{>wrasseissuelist}}
    </div>
    <div class="col-6">
      <h5>Ajax Call</h5>   <p> This is some text within a card body. </p>
      <div style="text-align: center; " class="card">
        <a href="" class="btn btn-outline-primary">Call with Ajax</a>
      </div>
    </div>
    <div class="col-6">
      <h5>Ajax Call by Id</h5>   <p> This is some text within a card body. </p>
      <div style="text-align: center; " class="card">
        <a href="" class="btn btn-outline-primary">Call with Ajax</a>
      </div>
    </div></div>