<div id='stage5'>
  <h1>Stage 5 - Form Page.</h1>
  <p>Create the default database generation structure.</p>
  <h3>Data Set</h3>
  <textarea class="form-control" class="form-control " id="schema5" name="schema"  style="height: 250px">
    {
    "entry" : {
        "value" : "forms",
        "parent" : "58fc699d7a525938d01fbd66",
        "description" : "Forms",
        "icon" : "glyphicon glyphicon-globe",
        "buttons" : [ 
            "modify", 
            "delete", 
            "permdelete", 
            "rawitem"
        ],
        "headings" : [ 
            "description", 
            "detail", 
            "icon", 
            "value", 
            "template"
        ]
    },
    "objectType" : "form",
    "detail" : "Use for the design and modifcation of site forms.",
    "name" : "Forms"
}
  </textarea>
  <p></p>
     <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" id="setData3">Set Form Data</button>
    </div>
</div>