<div id='stage4'>

  <h1>Stage 4 - Push the Database Items Form.</h1>
  <p>Create the default database generation structure.</p>

  <h3>Data Set</h3>
  <textarea class="form-control" class="form-control " id="schema4" name="schema"  style="height: 250px">
  {
  "name": "Database Items",
  "detail": "Use for the creation database items.",
  "objectType": "form",
  "entry": {
    "options": {
      "form": {
        "buttons": {
          "submit": {
            "title": "Submit",
            "id": "submit",
            "click": ""
          }
        }
      },
      "helper": "Use this form to add all database items.",
      "fields": {
        "detail": {
          "type": "text",
          "rows": 4,
          "cols": 40,
          "helper": "The help group label for the item.",
          "validate": true
        },
                "description": {
          "type": "text",
 
          "helper": "The label for the item.",
          "validate": true
        },
        "objectType": {
          "type": "select"
        },
        "revision": {
          "type": "select",
          "helper": "Autopoulated by the server."
        },
        "active": {
          "type": "select",
          "required": false
        },
        "entry": {
          "type": "json",
          "rows": 4,
          "cols": 40,
          "helper": "The help group label for the item.",
          "validate": false
        }
      },
      "focus": ""
    },
    "schema": {
      "title": "Database Items",
      "type": "object",
      "properties": {
        "description": {
          "title": "Description"
        },
        "value": {
          "title": "Value"
        },
        "type": {
            "title": "Type",
            "enum": [
               "text","checkbox","field","multi","WYSIWYG"
            ]
         },
        "unit": {
          "title": "Unit"
        },             "order": {
          "title": "Order"
        },
        "detail": {
          "title": "Detail"
        },
        "standard": {
          "title": "Standard"
        },
        "parent": {
          "title": "Parent"
        },
        "icon": {
          "title": "Icon"
        },
        "template": {
          "title": "Template"
        },
        "headings": {
          "title": "Headings",
          "enum": [
            "value",
            "detail"
          ]
        }
      }
    }
  }
} </textarea>
    <p></p>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" id="setData2">Set Form Data</button>
    </div>
  </div>