<h5 class="display-3">Stand alone links</h5>
<p>Links to stand alone page templates</p>

<div class="row">

  <div class="col-12">
    <h5>Stand alone new page</h5>
    <div style="text-align: right;position: absolute;top:15px;right: 5px">            
      {{>issuebutton parentid="standalonenewpage"}}
    </div> 
    <p>Deploy the template from handlebars to a stand alone static route, this is static HTML.</p>
    <div class="card">
     <div class="card-body">
      <h5>Demo</h5>
      <div style="text-align: center;">
        <a href="/issues/new/standalonenewpage" target="_blank" class="btn btn-success">Flag and issue</a>
        <small>Click this to view the proccess.</small> 
        <div class="bd-example bg-light mt-4">
         <p>
          <code  >
           &#60;a href="/issues/new" class="btn btn-success"&#62;Flag and issue&#60;/a&#62;
         </code></p>
       </div>                
     </div>
   </div>
 </div>
</div>

</div>

 