  <h5 class="display-3">Update.</h5>
  <h3>Select an issue , update an exisiting by editing , close or repoen an issue.</h3>
  <div class="col-12" style="text-align: center;">
    <h5>GiHub Sample Image</h5>
    <img src="/img/update.jpg" class="img-fluid">
  </div>
  <p>This functionality is included in the click through options above.</p>