      <h5 class="display-3">View all </h5>
      <p>Deploy the template from handlebars, this is static HTML.</p>
    


      <div class="card">
 <div class="card-body">
  <h5>Demo</h5><br>
     {{>wrasseissuelist  ids=(uniqueid)}}
</div>
</div>