      <h5 class="display-3">View group</h5>
      <p>Deploy via Ajax the table list based on a parentid.</p>

<div class="alert alert-secondary" role="alert">
  This group item id is : <strong>viewallgroup</strong>
</div>
 <div style="position: absolute;top:5px;right: 5px">            
  {{>issuebutton parentid="viewallgroup"}}
</div> 

      <div class="card">
 <div class="card-body">
  <h5>Demo</h5><br>
     <a target="_blank" href="/issues/view/viewallgroup" class="btn btn-success">View issues by Id</a>
</div>
</div>
  