<h1 class="display-4 mt-5">Welcome to Cleaner-wrasse</h1>

<p>This is a welcome page and would contain custom content.</p>
<hr>
 <h5 class="display-4">This site is built with .. </h5>
<div class="row">

  <div class="col-6">
    
<div class="card" >
  <img src="/img/logo/fraternate.png" class="card-img-top" alt="/img/logo/fratenate.png">
  <div class="card-body">
    <h5 class="card-title">Fraternate</h5>
    <p class="card-text">A user and organization management boilerplate.</p>
    <a target="_blank" href="https://github.com/jondo89/Fraternate" class="btn btn-primary">Github Repository</a>
    <a target="_blank" href="https://www.npmjs.com/package/fraternate" class="btn btn-primary">NPM Package</a>
  </div>
</div>

  </div>
  <div class="col-6">
    <div class="card" >
  <img src="/img/logo/wrasse.png" class="card-img-top" alt="/img/logo/fratenate.png">
  <div class="card-body">
    <h5 class="card-title">Cleaner-wrasse</h5>
    <p class="card-text">A issue tracking boilerplate designed to emulate the Github issue tracking system.</p>
    <a target="_blank" href="https://github.com/jondo89/Wrasse" class="btn btn-primary">Github Repository</a>
    <a target="_blank" href="https://www.npmjs.com/package/cleaner-wrasse" class="btn btn-primary">NPM Package</a>
  </div>
</div>


  </div>
</div>

