<style type="text/css">
	.awesome {
		padding: 2px;
		text-align:center;
		border-radius: 5px;
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	}
</style>
<h1>An Introduction to {{sitename}}.</h1>
<hr>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="/introduction">Introduction</a></li>
			<li role="presentation"><a href="/specifications">Specifications</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation"><a href="/integration">Third Party Integration</a></li>
			<li role="presentation"><a href="/payments">Payment Integration</a></li>
			<li role="presentation"><a href="/css">CSS Management</a></li>
			<li role="presentation"><a href="/troubleshooting">Troubleshooting</a></li>
			<li role="presentation" ><a href="/licence">Licence</a></li>
		</ul>
		<p></p>
 
				<div class="co" style="text-align: center;"> 
						<h3></h3>
						<div class="panel panel-default">
							<div class="panel-body">
								<img  style="max-width: 65px" src="/img/logo/osi_black_and_white_light_backgrounds_logo.png" alt="...">
								<h4  >MIT License - 100 % Open Source</h4>
								Fraternate is completely open source.
							</div>
						</div>
					</div>
		 
	</div>
	<div class="col-md-9">
<h3>The Platform</h3>
<p>Wrasse is the third phase of a user project management system for NodeJS. Modeled on the GitHub project management system and aimed to be modular for allowing as may application scenarios as possible.</p>

      <div class="row">
              <div class="col-md-3" style="text-align: center;">
          <div class="panel panel-default" style="min-height: 280px">
            <div class="panel-body"><h5>Phase 1</h5>
              <a href="https://semini.herokuapp.com/" target="_blank" style="text-decoration: none;">
                <img  style="max-width: 65px" src="/img/logo/semini.png" alt="..." >
                <p></p>
                <h3>Semini  <small>Form creator.</small></h3>
                <p><a href="https://github.com/Isithelo/Semini" target="_blank">Semini Repo</a></p>
              </a>
            </div>
          </div>
        </div>
              <div class="col-md-3" style="text-align: center;">
          <div class="panel panel-default" style="min-height: 280px">
            <div class="panel-body"><h5>Phase 2</h5>
              <a href="https://fraternate.herokuapp.com/" target="_blank" style="text-decoration: none;">
                <img  style="max-width: 65px" src="/img/logo/fraternate.png" alt="..." >
                <p></p>
                <h3>Fraternate  <small>Team and User Management System.</small></h3>
                <p><a href="https://github.com/Isithelo/Fraternate" target="_blank">Fraternate Repo</a></p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="text-align: center; ">
          <div class="panel panel-default" style="min-height: 280px">
            <div class="panel-body">
              <h5>Phase 3</h5>
              <a href="https://wrasse.herokuapp.com/" target="_blank"  style="text-decoration: none;">
                <img  style="max-width: 65px" src="/img/logo/wrasse.png" alt="...">
                <p></p>
                <h3>Wrasse  <small>Issue Tracking.</small></h3>
                <p><a href="https://github.com/Isithelo/Wrasse" target="_blank">Wrasse Repo</a></p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="text-align: center;  ">
          <div class="panel panel-default" style="min-height: 280px">
            <div class="panel-body">
              <h5>Phase 4</h5>
              <a href="https://heavy-lifting.herokuapp.com/" target="_blank"  style="text-decoration: none;">
                <img  style="max-width: 65px" src="/img/logo/heavy-lifting.png" alt="...">
                <p></p>
                <h3>Heavy-lifting  <small>Bulk cataloging and design.</small></h3>
                <p><a href="https://github.com/Isithelo/Heavy-lifting" target="_blank">Heavy-lifting Repo</a></p>
              </a>
            </div>
          </div>
        </div>
      </div>
	</div>

